body {
  color: #fff;
}
.choice-container {
  display: flex;
  margin-bottom: 0.8rem;
  margin-left: 0.8rem;
  width: 100%;
  border-radius: 4px;
  font-size: 3rem;
  max-width: 92vw;
  min-width: 92vw;
}

#question {
  margin-left: 0.8rem;
}

.choice-container:hover {
  cursor: pointer;
  transform: scale(1.02);
  transform: transform 100ms;
}

.choice-prefix {
  padding: 2rem 2.5rem;
  color: #fff;
}

.choice-text {
  padding: 2rem;
  width: 100%;
}

.first-choice {
  background-color: #06d6a0;
}

.second-choice {
  background-color: #1b9aaa;
}

.third-choice {
  background-color: #ef476f;
}

.fourth-choice {
  background-color: #ffc43d;
}

.correct {
  background-color: rgb(140, 223, 15);
}

.incorrect {
  background-color: rgb(230, 10, 10);
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 3rem;
  border: 0.2rem solid rgb(11, 223, 36);
  margin-top: 2rem;
  border-radius: 5px;
  overflow: hidden;
}

#progressBarFull {
  height: 100%;
  background: rgb(11, 223, 36);
  width: 0%;
}

#hud {
  display: flex;
  justify-content:space-between ;
  height: auto;
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 2.5rem;
        color: #fff;
        margin-bottom: 2.2rem;
      }
    
      #hud {
        display: flex;
        justify-content:space-evenly ;
        height: auto;
      }

    .container {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        max-width: 80rem;
        margin: 0 auto;
      }
    
    .choice-container {
        display: flex;
        width: 100%;
        border-radius: 4px;
        font-size: 1.2rem;
      }
      #progressBar {
        width: 14rem;
        height: 2rem;
        border: 0.1rem rgb(11, 223, 36);
        border-radius: 3px;
        overflow: hidden;
      }
      
      #progressBarFull {
        height: 100%;
        background: rgb(11, 223, 36);
        width: 0%;
      }

}
